# Run news parser every minute
* * * * * cd /var/www/html && php bin/console app:parse-news >> /var/log/cron.log 2>&1

# Retry failed messages every hour
* * * * * cd /var/www/html && php bin/console messenger:failed:retry --force >> /var/log/messenger_failed_retry.log 2>&1
